<div class="page-wrapper">
    <app-navbar></app-navbar>
    <main class="page-content">
        <app-lsidebar></app-lsidebar>
        <app-rsidebar></app-rsidebar>
        <div class="container-fluid">
            <router-outlet></router-outlet>
            <app-footer></app-footer>
        </div>
    </main>
</div>