body {
    height: 100%
  }
.white{
    color:#000;
    background-color:#fff;
}
.signup-section {
    padding: 0.3rem 0rem;
}
.text-info {
    color: #17a2b8!important;
}

.login_card{
    margin: 70px 0;
}

.float-left{
    float: left!important;
}
.float-right{
    float: right!important;
}