<div class="container">
	<div class="row d-flex justify-content-center align-items-center">

		<div class="col-md-4">
			<div class="card login_card">
				<div class="card-header">
					<h3 class="panel-title">Login</h3>
				</div>

				<div class="card-body">
					<form accept-charset="UTF-8" role="form">
						<fieldset>
							<div class="form-group">
								
								<input type="text" class="form-control" placeholder="abc@example.com"
									[(ngModel)]="model.username" name="username" [ngModelOptions]="{standalone: true}"
									#name="ngModel" required />
							</div>
							<div class="form-group">
								<input type="password" class="form-control" placeholder="Password" [(ngModel)]="model.password"
								name="password" [ngModelOptions]="{standalone: true}" #name="ngModel" required />
							</div>
							<div class="checkbox">
								<label class="float-left">
									<input name="remember" type="checkbox" value="Remember Me"> Remember Me
								</label>

								<label class="float-right">
									<a href="#" >Forgot Password?</a>
								</label>
							
							</div>
						
							<button type="button" class="btn btn-lg btn-success btn-block" (click)="login()" style="cursor: pointer;">Log in</button>
						</fieldset>
					</form>
					<hr />

					<div class="modal-footer d-flex justify-content-center">
						<div class="signup-section">Not a member yet? <a href="#a" routerLink="/layout/dashboard" class="text-info"> Sign Up</a>.</div>
					  
				  </div>
				
				</div>



			</div>
		</div>

	</div>
</div>