<div class="row">
    <div class="col-lg-6 col-xl-3 mb-4">
        <div class="card bg-primary text-white h-100">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="me-3">
                        <div class="text-white-75 small">Earnings (Monthly)</div>
                        <div class="text-lg fw-bold">$40,000</div>
                        <i class="fa fa-address-book-o" aria-hidden="true"></i>
                    </div>



                </div>
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between small">
                <a class="text-white stretched-link" href="#!">View Report</a>
                <div class="text-white">

                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xl-3 mb-4">
        <div class="card bg-warning text-white h-100">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="me-3">
                        <div class="text-white-75 small">Earnings (Annual)</div>
                        <div class="text-lg fw-bold">$215,000</div>
                        <i class="fa fa-address-book-o" aria-hidden="true"></i>
                    </div>




                </div>
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between small">
                <a class="text-white stretched-link" href="#!">View Report</a>
                <div class="text-white">


                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xl-3 mb-4">
        <div class="card bg-success text-white h-100">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="me-3">
                        <div class="text-white-75 small">Task Completion</div>
                        <i class="fa fa-address-book-o" aria-hidden="true"></i>
                        <div class="text-lg fw-bold">24</div>
                    </div>


                </div>
                
            </div>
            <div class="card-footer  d-flex align-items-center justify-content-between small">
                <a class="text-white stretched-link" href="#!">View Tasks</a>

                <div class="text-white">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>

                </div>
               
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xl-3 mb-4">
        <div class="card bg-danger text-white h-100">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="me-3">
                        <div class="text-white-75 small">Pending Requests</div>
                        <div class="text-lg fw-bold">17</div>
                        <i class="fa fa-address-book-o" aria-hidden="true"></i>
                    </div>








                </div>
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between small">
                <a class="text-white stretched-link" href="#!">View Requests</a>
                <div class="text-white">

                    <i class="fa fa-chevron-right" aria-hidden="true"></i>

                </div>
            </div>
        </div>
    </div>
</div>






<div class="row">
    <div class="col-xl-6 mb-4">
        <div class="card card-header-actions h-100">
            <div class="card-header">
                Earnings Breakdown

            </div>
            <div class="card-body">
                <div class="chart-area">
                    <div class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand">

                        </div>
                        <div class="chartjs-size-monitor-shrink">

                        </div>
                    </div>
                    <!-- <canvas id="myAreaChart" width="473" height="240"
                        style="display: block; width: 473px; height: 240px;" class="chartjs-render-monitor"></canvas> -->

                    <div id="chartContainer" #chartContainer></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 mb-4">
        <div class="card card-header-actions h-100">
            <div class="card-header">
                Monthly Revenue

            </div>
            <div class="card-body">
                <div class="chart-bar">
                    <div class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand">
                            <div class=""></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink">
                            <div class=""></div>
                        </div>
                    </div><canvas id="myBarChart" width="473" height="240" class="chartjs-render-monitor"
                        style="display: block; width: 473px; height: 240px;"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>