<div>
    <div class="page-title">
        <div class="title_left">
            <h3>Role</h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <!-- <div class=row>
        <div class="col-md-6 col-md-offset-2">
            <div *ngIf="!hasAdmin">
                <div class="alert alert-info text-center">
                    <strong>NOTE :</strong> <strong style="font-family:times new roman">To Create New Station please
                        Send Mail To Admin</strong>
                </div>
            </div>
        </div>
    </div> -->

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>List Of roles</h4>
                    <div class="input-group" style="float: right;width: 100px;">
                        <input name="itemsperpage" min="1" max="100" step=1 placeholder="Items Per Page (1-100)"
                            maxlength="3" type="number" [(ngModel)]="itemsPerPage" required
                            (ngModelChange)="getroles($event)" class="form-control">
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-sm table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>Role</th>
                                <th>CAN_CREATE</th>
                                <th>CAN_DELETE</th>
                                <th>CAN_UPDATE</th>
                                <th>CAN_VIEW</th>

                                <th>Actions</th>
                            </tr>

                        </thead>
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                              
                                <th></th>


                                <th>&nbsp;</th>

                            </tr>
                        </thead>
                        <tbody *ngIf="!isLoading && (itemsPerPage)">
                            <tr *ngFor="let r of rolesList;let index=index">
                                <td>{{(itemsPerPage)? ((currentPage+1 * itemsPerPage + index +1)-itemsPerPage ):''}} </td>
                                <td>{{r[0]}}</td>
                                <td>{{r[1]}}</td>
                                <td>{{r[2]}}</td>
                                <td>{{r[3]}}</td>
                                <td>{{r[4]}}</td>


                                <td>

                                    <button type="button" (click)="selectRole(r)" class="btn btn-warning btn-sm"
                                        style="color:rgb(244, 247, 240);cursor: pointer;">
                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                    </button>


                                    <button type="button" (click)="removeRole(r)" class="btn btn-danger btn-sm"
                                        aria-label="Left Align" style="color:rgb(233, 227, 227);cursor: pointer;">
                                        <span class="fa fa-trash-o" aria-hidden="true"></span>
                                    </button>


                                </td>


                            </tr>
                        </tbody>
                        <tbody *ngIf="isLoading">
                            <tr>
                                <td colspan="8" class="text-center"><i class="fa fa-spinner fa-4x fa-pulse"> </i>...
                                </td>
                            </tr>
                        </tbody>

                        <tfoot>
                            <tr>
                                <!-- <td colspan="8" class="text-center">
									<div st-items-by-page="itemsPerPage" st-pagination=""
										st-template="scripts/directives/pagination/pagination.custom.html"></div>
								</td> -->
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- <div ng-show="!hasAdmin"><h5 class="mailClass">To Create Station Send Mail To Admin</h5></div> -->
    <!-- <station-form stationdetails="selectedStation" ng-show="hasAdmin"></station-form> -->
    <!-- <toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'position-class':'toast-bottom-right'}"></toaster-container> -->
</div>