<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Left</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="//codeply.com">Codeply</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#">Navbar 2</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a class="nav-link" href="#" style="color: #fff;cursor: pointer;">
                    <!-- <i class="fa fa-bell" aria-hidden="true"></i> -->
                    Overview
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#" style="color: #fff;cursor: pointer;">
                    <!-- <i class="fa fa-bell" aria-hidden="true"></i> -->
                    Documentation
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#" style="color: #fff;cursor: pointer;">
                    <i class="fa fa-bell" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
            </li>

        </ul>

        <a [matMenuTriggerFor]="menu" style="color: #fff;cursor: pointer;">
           
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        </a>
        <mat-menu #menu="matMenu" class="custom__menu">
           
            <button mat-menu-item>
                <i class="fa fa-user" aria-hidden="true"></i> Profile
            </button>
           
            <button mat-menu-item>
                <i class="fa fa-cog" aria-hidden="true"></i> Setting
            </button>
          
         
            <button mat-menu-item>
                <i class="fa fa-question" aria-hidden="true"></i> Helps
            </button>
            
          
            <button mat-menu-item>
                <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
            </button>
    

        </mat-menu>
    </div>
</nav>