.custom__menu+* .cdk-overlay-pane>div.mat-menu-panel>div.mat-menu-content {
  background-color: rgb(15, 14, 14)!important;

}

.mat-menu-item {
  width: 200px;
  height: 100%;
 
}


button.mat-menu-item {
  color: white;
  border: none !important;
  outline: none!important;
  border-color: rgb(255, 254, 254) !important;
  background-color: rgb(153, 13, 13) !important;
}