<div>
  <h2>Dashboard</h2>
  <hr>

  <div class="row">

    <div class="col-sm-6 col-sm-6 col-md-4">

      <div class="card bg-primary text-white">
        <div class="card-header">
          <i class="fa fa-window-restore fa-4x" aria-hidden="true"></i>

        </div>
        <div class="card-body">
          <h5 class="card-title">Vote for #</h5>
          <canvas #lineChart>{{ chart }}</canvas> 
          <a href="#" style="color:#fff">Go somewhere</a>
        </div>
      </div>

    </div>

    <div class="col-sm-6 col-sm-6 col-md-4">

      <div class="card bg-danger text-white">
        <div class="card-header">
          <i class="fa fa-window-restore fa-5x" aria-hidden="true"></i>

        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
         
            <canvas #donutChart>{{ chart }}</canvas> 
         
          <a href="#" style="color:#fff">Go somewhere</a>
        </div>
      </div>

    </div>

  </div>

  <div class="row">

    <div class="col-md-4 col-xl-3 mb-4">
      <div class="card bg-warning text-white h-100">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="me-3">
              <div class="text-white-75 small">Earnings (Monthly)</div>
              <div class="text-lg fw-bold">$40,000</div>
            </div>
            <i class="fa fa-address-card-o fa-5x" aria-hidden="true"></i>
          </div>
          <div id="piechart"></div>
        </div>
        <div class="card-footer d-flex align-items-center justify-content-between small">
          <a class="text-white stretched-link" href="#!">View Report</a>
          <div class="text-white">
          </div>
        </div>
      </div>
    </div>



    <div class="col-md-4">
      <div class="card bg-info text-white">
        <div class="card-body" style="width: 100%;">
          <div class="d-flex justify-content-between align-items-center">
            <div class="me-3">
              <div class="text-white-75 small">Earnings (Monthly)</div>
              <div class="text-lg fw-bold">$40,000</div>

            </div>
            <i class="fa fa-window-restore fa-5x" aria-hidden="true"></i>

          </div>
          <div id="barchart"></div>
        </div>
        <div class="card-footer d-flex align-items-center justify-content-between small">
          <a class="text-white stretched-link" href="#!">View Report</a>
          <div class="text-white">
          </div>
        </div>
      </div>
    </div>



  </div>


  </div>


  <div class="row">
    <div class="col-lg-12">
      <!-- <app-crewlinkdashboard></app-crewlinkdashboard> -->
    </div>

  </div>