

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

footer{
    width:100%;
    height:50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 0 0 0 0;
    left: 0;
}

footer {
    margin-top: 900px;
    background-color: #fff;
    color: #fff;
    line-height: 1.5;
}

footer a {
    color: red !important;
    cursor: pointer !important;
    text-decoration: none;
}

footer i {
    color: rgb(214, 24, 24);
}

a:hover {
    text-decoration: underline;
}

small{
    color: black !important;
}