<div>
    <footer class="text-center custom-footer">
        <div class="md-8">
            <small>
                © 2022 made with <i class="fa fa-heart fa-2x"></i> Developed By -
                <a target="_blank" rel="noopener noreferrer" href="https://azouaoui.netlify.com">
                    Santosh Sahu
                </a>
            </small>
        </div>

        <div class="md-8">
            <ul class="list-inline">

                <li class="list-inline-item"><a href="#"><i class="fa fa-facebook-official fa-2x"
                            aria-hidden="true"></i></a></li>
                <li class="list-inline-item"><a href="#">
                        <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>

                    </a></li>
                <li class="list-inline-item"><a href="#">
                        <i class="fa fa-google fa-2x" aria-hidden="true"></i></a>
                </li>
                <li class="list-inline-item"><a href="#">
                        <i class="fa fa-apple fa-2x" aria-hidden="true"></i></a>
                </li>
            </ul>

        </div>


    </footer>
</div>