<div class="card mb-4 box-shadow">
    <div class="card-header container-fluid">
        <div class="row">
            <div class="col-md-10">
                <h4 class="my-0 font-weight-normal">List of trains</h4>
            </div>
        </div>

        <div class="input-group pull-right" style="float: right;width: 80px;">
            <input name="itemsperpage" class="input-sm form-control pull-right" min=1 max=100 value=5 step=1
                type="number" [(ngModel)]="query.size" (ngModelChange)="loadTrainsList()">
        </div>
    </div>
    <table class="table table-striped table-sm table-borderless  table-condensed table-hover">

     

        <thead>
            <tr>
                <th></th>
               
                <th>No.</th>
                <th>TrainNo</th>
                <th>TrainName</th>
                <th>fromStation</th>
                <th>tostation</th>
                <th>Days</th>
                <th>Types</th>
                <th></th>
    
            </tr>
        </thead>
         <!-- <thead>
           
            <th style="width: 120px;"></th>
            <th style="width:120px;">
                <input type="text" class="form-control" [(ngModel)]="query.trainNumber"
                    (ngModelChange)="loadTrainsList($event)" name="trainNumber">
            </th>
            <th style="width:120px;">
                <input type="text" class="form-control" [(ngModel)]="query.trainname"
                    (ngModelChange)="loadTrainsList($event)" name="trainname">
            </th>
            <th style="width:120px;">
                <input type="text" class="form-control" [(ngModel)]="query.fromstation"
                    (ngModelChange)="loadTrainsList($event)" name="fromstation">
            </th>

            <th style="width:120px;">
                <input type="text" class="form-control" [(ngModel)]="query.tostation"
                    (ngModelChange)="loadTrainsList($event)" name="tostation">
            </th>
            <th style="width:120px;">
                <input type="text" class="form-control" [(ngModel)]="query.tostation"
                    (ngModelChange)="loadTrainsList($event)" name="tostation">
            </th>

            <th style="width:120px;">
                <input type="text" class="form-control" [(ngModel)]="query.tostation"
                    (ngModelChange)="loadTrainsList($event)" name="tostation">
            </th>


        </thead>  -->
        <tbody *ngIf="!isLoading && (itemsPerPage)">
            <tr *ngFor="let train of trainLists;let index=index" style="cursor : pointer"
            [ngClass]="getSelectedTrainCss(train)">
              
               <td><a (click)="trainTimeTable({trainNo:train.trainNo,startDay:train.startDay})"
                class="btn btn-success btn-sm fa fa-th-list" style="color:#ffff" title="View"></a></td>
                <td>{{(itemsPerPage)? (((currentPage+1) * itemsPerPage + index +1)-itemsPerPage ):''}} </td>
                <td>{{train[0]}}</td>
                <td>{{train[1]}}</td>
                <td>{{train[2]}} -- {{train[3]}}</td>
                <td>{{train[5]}}-- {{train[6]}}</td>
                <td>{{days[train[4]]}}</td>
                <td>{{train[7]}}</td>
               
             


            </tr>
        </tbody>
        <tbody *ngIf="isLoading">
            <tr style="height:200px">
                <td colspan="11" class="text-center"><i class="fa fa-spinner fa-4x fa-pulse"> </i></td>
            </tr>
        </tbody>
    </table>

    <div class="card-footer">
        
            <!-- <app-pagination [maxPages]="maxPages" [current]="currentPage" [postsPerPage]="postsPerPage"
                [itemsPerPage]="itemsPerPage" (changePage)="pageChanged($event)" [totalPages]="totalPages"
                [autoHide]="true"></app-pagination> -->

      
    </div>



</div>