<div class="sideBarRight" id="right-sidebar">

    <a id="hide-rightsidebar" style="color:#fff;cursor: pointer;">
        <i class="fa fa-minus" aria-hidden="true"></i>
    </a>
    <br>

    <a id="show-rightsidebar" style="color:#fff;cursor: pointer;">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </a>

    <nav id="sidebar" class="right-sidebar-wrapper">
        <div class="sidebar-content">


        </div>
    </nav>

</div>