.sideBarRight {
  position: absolute;
  z-index: 1;
  top: 56px;
  right: 0;
  background-color: rgb(114, 111, 111);
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 20px;
  width: 260px;
  height: 100%;
  max-height: 100%;
  opacity: 0.8;
}

/* .page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand>a,
.sidebar-wrapper .sidebar-dropdown>a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a, */

#left-rightsidebar {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sideBarRight{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* .page-wrapper.toggled .right-sidebar-wrapper {
    left: 1370px !important;
  } */

#left-rightsidebar {
  position: fixed;
  right: 0;
  top: 10px;
  border-radius: 0 4px 4px 0px;
  width: 35px;
  transition-delay: 0.3s;
}

#left-rightsidebar {
  right: -200px !important;
}

.right-toggled {
  width: 40px!important;
  opacity: 0.3;
}