<div class="row">
    <div class="col-lg-12">
        <div class="d-flex justify-content-center align-items-center">

            <div class="card">
                <div class="card-header">
                    <h3>Create your account here ?</h3>
                </div>
                <div class="card-body">

                    <form #RegForm="ngForm" (ngSubmit)="saveUser(RegForm)" novalidate>
                        <div class="col-lg-12">

                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fa fa-user fa-lg me-3 fa-fw"></i>
                                <input type="text" id="form3Example3" class="form-control form-control-sm"
                                    placeholder="Enter Username" [(ngModel)]="model.username" name="name"
                                    [ngModelOptions]="{standalone: true}" #name="ngModel" required />

                                <div *ngIf="name.invalid && (name.dirty || name.touched)">

                                    <div *ngIf="name.errors?.['required']" style="color:red">
                                        User Name is required.
                                    </div>
                                </div>

                            </div>


                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fa fa-key fa-lg me-3 fa-fw"></i>

                                <input id="form3Example4" name="pass" class="form-control form-control-sm"
                                    placeholder="Enter Password" [(ngModel)]="model.password"
                                    [ngModelOptions]="{standalone: true}" #pass="ngModel" required />



                                <div *ngIf="pass.invalid && (pass.dirty || pass.touched)">

                                    <div *ngIf="pass.errors?.['required']" style="color:red">
                                        Password is required.
                                    </div>
                                </div>
                            </div>

                            
                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fa fa-address-book-o fa-lg me-3 fa-fw"></i>
                                <select name="selectedRole" id="rr" class="form-control" [(ngModel)]="model.rolecode">
                                    <option value="" selected>--Select Role--</option>
                                    <option *ngFor="let r of roleCodesList" [value]="r">{{r}}</option>
                                </select>
                            </div>


                            
                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fa fa-user fa-lg me-3 fa-fw"></i>
                                <input type="text" id="form3Example5" class="form-control form-control-sm"
                                    placeholder="Enter firstName" [(ngModel)]="model.firstName"
                                    [ngModelOptions]="{standalone: true}" />

                            </div>

                            
                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fa fa-user fa-lg me-3 fa-fw"></i>
                                <input type="text" id="form3Example6" class="form-control form-control-sm"
                                    placeholder="Enter LastName" [(ngModel)]="model.lastName"
                                    [ngModelOptions]="{standalone: true}" />
                            </div>

                            
                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fa fa-envelope fa-lg me-3 fa-fw"></i>
                                <input type="email" id="form3Example7" class="form-control form-control-sm"
                                    placeholder="Enter Email" [(ngModel)]="model.email"
                                    [ngModelOptions]="{standalone: true}" />
                            </div>


                            
                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fa fa-mobile fa-lg me-5 fa-fw"></i>
                                <input type="text" id="form3Example8" class="form-control form-control-sm"
                                    placeholder="Enter Phone" [(ngModel)]="model.mobileNo"
                                    [ngModelOptions]="{standalone: true}" />
                            </div>

                            
                        </div>


                        <div class="col-md-8">
                            <button type="submit" [disabled]="false" class="btn btn-outline-primary btn-md">
                                <i class="fa fa-plus"> Register</i>
                            </button>

                            <button type="button" [disabled]="false" class="btn btn-outline-warning btn-md"
                                (click)="update()">
                                <i class="fa fa-pencil">Update </i>
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>


        <div class="card box-shadow">
            <div class="card-header container-fluid">
                <div class="row">
                    <div class="col-md-10">
                        <h4 class="my-0 font-weight-normal">List of Users</h4>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-sm table-borderless  table-condensed table-hover">
        
               
        
                <thead>
                    <tr>
                        
                        <th>No.</th>
                        <th>Firstname</th>
                        <th>LastName</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Role</th>
                        <th>Types</th>
                        <th>Days</th>
        
                    </tr>
                </thead>
                <tbody *ngIf="!isLoading && (itemsPerPage)">
                    <tr *ngFor="let user of userList;let index=index">
                        
                        <td>{{(itemsPerPage)? ((currentPage * itemsPerPage + index +1)-itemsPerPage ):''}} </td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.password}}</td> 
                        <td>{{user.role.name}}</td>
                       
        
        
                    </tr>
                </tbody>
                <tbody *ngIf="isLoading">
                    <tr style="height:200px">
                        <td colspan="11" class="text-center"><i class="fa fa-spinner fa-4x fa-pulse"> </i></td>
                    </tr>
                </tbody>
            </table>
        
            <div class="card-footer">
                
        
              
            </div>
        
        
        
        </div>
    </div>
</div>

